.profil{
    width: 50%;
    height: auto;
    vertical-align: middle;
}
.asset1{
    position: fixed ;
    left: 0;
    bottom: 0;
}
.asset2{
    position: fixed;
    right: 0;
    top: 8vw;

}
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tombol{
background-color: #2979ff;
border-radius: 28px;
width: 200px;
height: 50px;
}

.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color:#2979ff;
   }

   .bot-right{
       bottom: 0;
       right: 0;
       position: fixed;
   }

/* Asset hiding in mob res */
@media (max-width:800px){
    #blob1,#blob2,#blob3{
        display: none;
    }
}

/* Media query untuk styling homescreen responsive */

@media (max-width:600px){
    #foto{
        display: none;
    }
    #nama,#tagline,#negara{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
.halo{
    min-height: 100vh;
    display: block;
    flex-direction: column;
}

.hello{
    z-index: 10;
}

.byemargin{
    margin-block-end: 0em;
    margin-block-start: 0em;
}